<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRÀCTICA 3 - FORM EN PHP CON PHPMYADMIN</title>
</head>
<body>
    <!-- POSAR COMENTARI GENERAL -->
    <!-- No hay mucho que comentar. es un fichero que recibe datos y los envía a un controlador
    para procesarlo y en caso que funcione vuelve aquí-->
    <div>
        <h1>Creació d'usuari nou</h1>
    </div>
    <!-- Mirar a quin arxiu va aquest formulari i afegir-ho -->
	<!-- ERROR: Te falta añadir todos los names dentro de cada input -->
    <form action="../crear_usuari/index.php" method="post">
        <div>
            <label>ID</label>
            <input type="text">
        </div>
        <div>
            <label>NAME</label>
            <input type="text">
        </div>
        <div>
            <label>SURNAME</label>
            <input type="text" >
        </div>
        <div>
            <label>
                <select >
                    <option value="Professorat">Professorat</option>
                    <option value="Alumnat">Alumnat</option>
                </select>
            </label>
        </div>
        <div>
            <label>Password</label>
            <input type="text" >
        </div>
        <div>
            <label>email</label>
            <input type="text" >
        </div>
        <div>
            <label for="active">Active</label>
            <input type="checkbox" >
        </div>
        <div>
            <button type="submit" >SEND</button>
        </div>
        <div>
            <!-- POSAR ENLLAÇ a la view index.php-->
            <a href="login.html">Inici sessió usuari</a>
        </div>
    </form>    
</body>
