<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRÀCTICA 4 - LOGIN</title>
</head>    
</body>
    <!--  FORMULARI D'INICI DE SESSIIÓ -->
    <div>
        <h1>Iniciar sessió de l'usuari</h1>    
    </div>
    <div class="dropdown-menu">
        <!-- Mirar a quin arxiu va aquest formulari i afegir-ho -->
        <form action="usuari.php" action="POST" class="px-4 py-3">
            <div class="form-group">
                <label>Email address</label>
                <input type="text" name="new_email" class="form-control" placeholder="email@example.com" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" name="new_password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-check">
                <label for="remember">
                Remember me
                </label>
                <input type="checkbox" name="remember">
            </div>
            <button type="submit" name="send">Sign in</button>
            <div>
            <!-- POSAR ENLLAÇ a la view index.php-->
            <a href="index.html">Crear usuari</a> 
            </div>
        </form>
    </div>
</body>
</html>